 @media screen and (min-width: 577px){
    .fondo_contacto {
        height: 600px;
        width: 400px;
        background-image: url(../img/contacto.jpg);
        background-repeat: no-repeat;
        float: left;
    }
        .contacto {
            height: 600px;
            width: 650px;
            font-weight: bold;
            float: left;
            margin-left: 40px;
        }
    
        .content_contacto {
            height: 400px;
            width: 650px;
            margin-left: 30px;
        }
 }

    

 
        

