

@media screen and (max-width: 576px) {
    .content_header{

        height: 400px;
        width: 100%;
    }
    .content_header p{  
        text-align: justify;
        color:#585555;
        height: 300px;
        overflow: hidden;
        font-size: 12px;
    }
    .content_header h2{ 
        color:#ffffff; 
 
   }
   .titulo{
    height: 600px;
    width: 80%;
}
.titulo p{  
    text-align: justify;
    color:#da0a0a;
    height: 450px;
    overflow: hidden
}
.titulo h1{ 
    color:#d63030; 

}
.titulo1{

    margin-left: 10px;
    width: 95%;
    background-repeat: no-repeat;
    background-color: #d63030;
}
.navbar{
    
    max-width: 576px;
    margin: 0 auto;
    height: 50px;
   
}
.navbar a {
  
    font-size: 12px;
    
}
.contactanos{
    
    width: 50%; 
}
.fondo_contacto{
    background-size: 500px;
    width: 100%;
    background-repeat: no-repeat;
}
.contacto{
    width: 100%; 
}
.content_contacto{
    width: 100%;

}
.container1 {
    color:#585555;
}

.col_ampm {
    height: 100%;
    width: 98%;
  }

   }

