@media screen and (min-width: 577px) {
.titulo {
    height: 600px;
    width: 650px;
    float: left;
    margin-left: 50px;
}  

.titulo1 {
    height: 500px;
    width: 450px;
    background: url(../img/protectorsolar.jpg);
    background-size: cover;
    float: left;
    align-items: center;
    margin-left: 100px;
}

}
