*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
body{

    text-align: center;
    font-family: sans-serif;

}

.head{
    align-items: center;
    height: 100%;
    width: 100%;
}
.content_header{
    height: 400px;
    width: 750px;
    display: inline-block;
}
.fondo{
    background: url(../img/fondo.jpg);
    background-size: 1380px 400px;
    background-repeat: no-repeat;
}
.logo{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    font-style:italic;
    color: #080808;
}

footer{
    clear: both;
    background: #ebe5e9;
}


